@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
}

@plugin "daisyui";

:root {
  --p: var(--color-primary);
  --s: var(--color-secondary);
  --a: var(--color-accent);

  --n: #0f172a;
  --b1: #ffffff;
}
